* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  padding: 8px;
  font-family: system-ui;
}

textarea {
  display: block;
  width: 100%;
  max-width: 100%;
  min-height: 40vh;
  font-size: 16px;
}

#preview {
  width: 100%;
  overflow-wrap: break-word;
}