body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #282a36; /* Dracula背景色 */
}

#editor-container {
    height: 100vh;
    width: 100vw;
}

.CodeMirror {
    height: 100% !important;
    font-size: 16px;
    font-family: 'Consolas', 'Monaco', 'Courier New', monospace;
}
