* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  padding: 8px;
  font-family: system-ui;
}

textarea {
  display: block;
  width: 100%;
  max-width: 100%;
  min-height: 40vh;
  font-size: 16px;
}

#preview {
  display: none;
}


#toolbar {
  position: sticky;
  top: 0;
  display: flex;
  gap: 4px;
  padding: 6px;
  background: #f0f0f0;
  z-index: 10;
}

#toolbar button {
  flex: 1;
  font-size: 16px;
  padding: 6px 0;
  border: none;
  border-radius: 6px;
  background: #fff;
}

#editor {
  padding-left: 2.5em;
  text-indent: -2.5em;
}