body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.CodeMirror {
  height: 100vh;
  font-size: 16px;
  line-height: 1.6;
}

/* 折り返し時に文頭を揃える */
.CodeMirror pre {
  white-space: pre-wrap;
  word-break: break-word;
}