body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#editor-container {
    height: 100vh;
    width: 100vw;
}

.CodeMirror {
    height: 100% !important;
    font-size: 16px;
}
